.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 1;
  min-width: 100px;
  height: 100vh;
}

.main-content {
  flex: 2;
  padding: 25px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100px;
    padding: 10px;
  }

  .main-content {
    margin-left: 100px;
  }
}
