.main{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    
}
.nav{
    display: block;
    max-width: 200px;
    min-width: 60px;
}
.other{
    width: auto;
    font-size: large;
}